<div class="body">
    <div class="login">
        <p>Bienvenido( Login )</p>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off">
        </mat-form-field>
        <br>
        <button class="ancho" mat-raised-button color="primary">Primary</button>
    </div>
</div>

