.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/assets/img/backgroundLogin.jpg');
}

.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho{
    width: 80%;
}

.button{
    height: 50px;
}

.spinner{
    margin: 0 auto;
}